In [351]:
# Required Libraries
import pandas as pd
import os
from imblearn.over_sampling import SMOTE

In [352]:
# Paths to the data

# SINAN DataSUS CSV files path (modify to match your file path)
sinan_path = os.path.expanduser('~/Desktop/DataSUS-Chikungunya-ML/source/csv/')

# Cleaned CSV files path (modify to match your file path)
cleaned_path = os.path.expanduser('~/Desktop/DataSUS-Chikungunya-ML/datasets/')

In [353]:
"""
Load the Chikungunya data from the CSV files
The CSV files are named CHIKBRYY.csv, where YY is the last two digits of the year
The files are stored in the ~/Downloads/dbc2csv/source/csv/ directory
The columns in the CSV files are not consistent across all years
We want to identify the columns that are common to all files
"""

# List of last two digits of years for which we have CSV files (2018 to 2024)
start_year = 18
end_year = 24
assert start_year < end_year, "Start year must be less than end year"
years = range(start_year, end_year + 1)

# Dictionary to store the columns for each file
file_columns = {}

# Loop through each year, build the filename, and read the CSV
for year in years:
    file_name = f'{sinan_path}CHIKBR{str(year)}.csv'
    try:
        df = pd.read_csv(file_name, low_memory=False)
        # Save the set of columns for this file
        file_columns[file_name] = set(df.columns)
    except Exception as e:
        print(f"Error loading {file_name}: {e}")

# Ensure we have loaded at least one file before proceeding
assert file_columns, "No files were loaded. Please check your file paths."

# Find common columns: the intersection of columns across all files
common_columns = set.intersection(*file_columns.values())
print("\nColumns common to all files:")
print(common_columns)

# Compute the union of all columns (all columns that appear in any file)
all_columns = set.union(*file_columns.values())

# For columns that are not common, print which files have them and which don't.
print("\nColumns that are not common among all files:")
for col in all_columns - common_columns:
    # Extract base name (e.g., CHIKBR21) from each file path
    files_with = [os.path.splitext(os.path.basename(fname))[0] 
                    for fname, cols in file_columns.items() if col in cols]
    files_without = [os.path.splitext(os.path.basename(fname))[0] 
                        for fname, cols in file_columns.items() if col not in cols]
    print(f"Column '{col}' is present in files: {files_with} and missing in files: {files_without}")

Columns common to all files:
{'DT_INVEST', 'COUFINF', 'VOMITO', 'HOSPITALIZ', 'PETEQUIA_N', 'GRAV_EXTRE', 'DT_SIN_PRI', 'GRAV_HEMAT', 'DT_PRNT', 'NU_ANO', 'DT_NOTIFIC', 'CEFALEIA', 'ALRM_HIPOT', 'RES_CHIKS2', 'CS_GESTANT', 'EVIDENCIA', 'SEM_PRI', 'ID_REGIONA', 'SG_UF_NOT', 'RENAL', 'RESUL_VI_N', 'CLASSI_FIN', 'GRAV_CONSC', 'GRAV_ENCH', 'LACO_N', 'CS_SEXO', 'COMUNINF', 'HISTOPA_N', 'DT_CHIK_S2', 'ALRM_HEPAT', 'SOROTIPO', 'ID_PAIS', 'HIPERTENSA', 'ACIDO_PEPT', 'DT_NS1', 'NU_IDADE_N', 'AUTO_IMUNE', 'NAUSEA', 'ID_MUNICIP', 'ALRM_PLAQ', 'RESUL_PRNT', 'PLASMATICO', 'TP_SISTEMA', 'DT_GRAV', 'DT_CHIK_S1', 'GRAV_MIOC', 'GRAV_INSUF', 'COMPLICA', 'ID_AGRAVO', 'ALRM_LIQ', 'LACO', 'IMUNOH_N', 'CONJUNTVIT', 'HEPATOPAT', 'ID_UNIDADE', 'GRAV_SANG', 'DT_INTERNA', 'GRAV_ORGAO', 'GRAV_MELEN', 'DT_OBITO', 'CLINC_CHIK', 'ID_MN_RESI', 'DIABETES', 'GRAV_TAQUI', 'RESUL_PCR_', 'DT_ENCERRA', 'GRAV_HIPOT', 'SEM_NOT', 'TP_NOT', 'ALRM_VOM', 'EXANTEMA', 'GENGIVO', 'UF', 'ARTRITE', 'MANI_HEMOR', 'SANGRAM', 'GRAV_CONV', 'HEMATURA', 'PLAQ_MENOR', 'PETEQUIAS', 'MIALGIA', 'Unnamed: 0', 'ALRM_LETAR', 'ID_RG_RESI', 'FEBRE', 'COPAISINF', 'DOENCA_TRA', 'RES_CHIKS1', 'DOR_COSTAS', 'ALRM_ABDOM', 'GRAV_PULSO', 'DT_ALRM', 'ALRM_SANG', 'LEUCOPENIA', 'EPISTAXE', 'CS_RACA', 'CRITERIO', 'ARTRALGIA', 'TPAUTOCTO', 'METRO', 'RESUL_NS1', 'ALRM_HEMAT', 'DT_SORO', 'GRAV_METRO', 'HEMATOLOG', 'RESUL_SORO', 'CON_FHD', 'GRAV_AST', 'DT_PCR', 'MUNICIPIO', 'SG_UF', 'DOR_RETRO', 'CS_ESCOL_N', 'DT_VIRAL', 'ID_OCUPA_N', 'NDUPLIC_N', 'EVOLUCAO'}

Columns that are not common among all files:
Column 'FLXRECEBI' is present in files: ['CHIKBR21', 'CHIKBR22', 'CHIKBR23', 'CHIKBR24'] and missing in files: ['CHIKBR18', 'CHIKBR19', 'CHIKBR20']
Column 'NU_LOTE_I' is present in files: ['CHIKBR21', 'CHIKBR22', 'CHIKBR23', 'CHIKBR24'] and missing in files: ['CHIKBR18', 'CHIKBR19', 'CHIKBR20']
Column 'DT_DIGITA' is present in files: ['CHIKBR21', 'CHIKBR22', 'CHIKBR23', 'CHIKBR24'] and missing in files: ['CHIKBR18', 'CHIKBR19', 'CHIKBR20']
Column 'CS_FLXRET' is present in files: ['CHIKBR21', 'CHIKBR22', 'CHIKBR23', 'CHIKBR24'] and missing in files: ['CHIKBR18', 'CHIKBR19', 'CHIKBR20']
Column 'ANO_NASC' is present in files: ['CHIKBR21', 'CHIKBR22', 'CHIKBR23', 'CHIKBR24'] and missing in files: ['CHIKBR18', 'CHIKBR19', 'CHIKBR20']
Column 'MIGRADO_W' is present in files: ['CHIKBR21', 'CHIKBR22', 'CHIKBR23', 'CHIKBR24'] and missing in files: ['CHIKBR18', 'CHIKBR19', 'CHIKBR20']

In [354]:
"""
Remove columns that are not common to all files
Create a new DataFrame with only the common columns
Concatenate all the DataFrames without the last {test_years} years into a single DataFrame called X_train
Concatenate the DataFrames from the last {test_years} years into a single DataFrame called X_test
"""

# Number of years to use for testing
test_years = 2
assert common_columns, "No common columns found. Please check your file paths."
assert len(years) > test_years, "At least {test_years + 1}  years of data are required."

# Load the train and test data for each year, keeping only the common columns
X_train = []
X_test = []

for year in years:
    file_name = f'{sinan_path}CHIKBR{str(year)}.csv'
    try:
        df = pd.read_csv(file_name, usecols=common_columns, low_memory=False)
        # Drop the "Unnamed: 0" column if present
        if "Unnamed: 0" in df.columns:
            df = df.drop("Unnamed: 0", axis=1)
        if year < years[-test_years]:
            X_train.append(df)
        else:
            X_test.append(df)
    except Exception as e:
        print(f"Error loading {file_name}: {e}")

# Concatenate all the DataFrames into a single train and test DataFrame
X_train = pd.concat(X_train, ignore_index=True)
X_test = pd.concat(X_test, ignore_index=True)

# Display the shape of the concatenated DataFrame
print("\nShape of the concatenated X_train DataFrame: ", X_train.shape)
print("Shape of the concatenated X_test DataFrame: ", X_test.shape)

Shape of the concatenated X_train DataFrame:  (802287, 116)
Shape of the concatenated X_test DataFrame:  (650214, 116)

In [355]:
"""
Filter the data to include only the rows where the pacient was hospitalized ("HOSPITALIZ" column is equal to 1 or to 1.0)
"""

print("\nUnique values in the 'HOSPITALIZ' column:")
print(X_train['HOSPITALIZ'].value_counts())

# Filter the data to include only the rows where the patient was hospitalized
X_train = X_train[(X_train['HOSPITALIZ'] == 1) | (X_train['HOSPITALIZ'] == 1.0)]
X_test = X_test[(X_test['HOSPITALIZ'] == 1) | (X_test['HOSPITALIZ'] == 1.0)]

# Display the shape of the filtered DataFrame
print("\nShape of the filtered X_train DataFrame: ", X_train.shape)
print("Shape of the filtered X_test DataFrame: ", X_test.shape)

Unique values in the 'HOSPITALIZ' column:
HOSPITALIZ
2.0    393418
2       73033
1.0     21844
9.0     15658
1        3629
9        2885
           1
Ø           1
J           1
ï           1
Name: count, dtype: int64

Shape of the filtered X_train DataFrame:  (21844, 116)
Shape of the filtered X_test DataFrame:  (18939, 116)

In [356]:
"""
Extract the target variable from the data (EVOLUCAO column)

1- cura
2- óbito pelo
agravo
3- óbito por outras
causas
4- óbito em
investigação
9- ignorado

Remove rows where the target variable is Nan, 3 (death by other causes), 4 (under investigation) or 9 (ignored)
Only keep rows where the target variable is 1 (cure) or 2 (death by the disease)
"""

##############################################################
# Should we drop rows where the target variable is 3 or 4?
# Dropping them results in a very unbalanced dataset
##############################################################

# Print the value counts for the 'EVOLUCAO' column in X_train
print("\nValues for 'EVOLUCAO' in X_train:")
print(X_train["EVOLUCAO"].value_counts(dropna=False))

# Print the value counts for the 'EVOLUCAO' column in X_test
print("\nValues for 'EVOLUCAO' in X_test:")
print(X_test["EVOLUCAO"].value_counts(dropna=False))

Values for 'EVOLUCAO' in X_train:
EVOLUCAO
1.0    15203
NaN     3865
9.0     1587
3.0      858
2.0      251
4.0       80
Name: count, dtype: int64

Values for 'EVOLUCAO' in X_test:
EVOLUCAO
1.0    13453
NaN     2780
9.0     1540
3.0      761
2.0      296
4.0      109
Name: count, dtype: int64

In [357]:
# Filter the data to include only the rows where the target variable is 1 or 2
X_train = X_train[(X_train['EVOLUCAO'] == 1.0) | (X_train['EVOLUCAO'] == 2.0) | (X_train['EVOLUCAO'] == 3.0) | (X_train['EVOLUCAO'] == 4.0)]
X_test = X_test[(X_test['EVOLUCAO'] == 1.0) | (X_test['EVOLUCAO'] == 2.0) | (X_test['EVOLUCAO'] == 3.0) | (X_test['EVOLUCAO'] == 4.0)]

In [358]:
# Remove columns where all values are the same in X_train and X_test (constant columns)
constant_columns = [col for col in X_train.columns if X_train[col].nunique() == 1]

# Drop these constant columns from both X_train and X_test
X_train = X_train.drop(columns=constant_columns)
X_test = X_test.drop(columns=constant_columns, errors='ignore')

print("\nDropped constant columns:", constant_columns)

Dropped constant columns: ['TP_NOT', 'ID_AGRAVO', 'ID_PAIS', 'HISTOPA_N', 'IMUNOH_N', 'HOSPITALIZ', 'TP_SISTEMA', 'NDUPLIC_N']

In [359]:
"""
Identify and remove columns with more than missing_values_threshold missing values in X_train and X_test
"""

missing_values_threshold = 0.01
assert 0.0 <= missing_values_threshold <= 1.0, "missing_values_threshold must be between 0 and 1"

# Compute the percentage of missing values in each column of X_train
missing_values_train = X_train.isnull().mean()
missing_values_test = X_test.isnull().mean()
missing_values_mean = (missing_values_train + missing_values_test) / 2

# Print the percentage of missing values in each column of X_train
print("\nPercentage of missing values in X_train:")
print(missing_values_train)

# Print the percentage of missing values in each column of X_test
print("\nPercentage of missing values in X_test:")
print(missing_values_test)

Percentage of missing values in X_train:
DT_NOTIFIC    0.0
SEM_NOT       0.0
NU_ANO        0.0
SG_UF_NOT     0.0
ID_MUNICIP    0.0
             ...
PLASMATICO    1.0
EVIDENCIA     1.0
PLAQ_MENOR    1.0
CON_FHD       1.0
COMPLICA      1.0
Length: 108, dtype: float64

Percentage of missing values in X_test:
DT_NOTIFIC    0.0
SEM_NOT       0.0
NU_ANO        0.0
SG_UF_NOT     0.0
ID_MUNICIP    0.0
             ...
PLASMATICO    1.0
EVIDENCIA     1.0
PLAQ_MENOR    1.0
CON_FHD       1.0
COMPLICA      1.0
Length: 108, dtype: float64

In [360]:
cols_to_drop = missing_values_train[missing_values_mean > missing_values_threshold].index

X_train = X_train.drop(columns=cols_to_drop)
X_test = X_test.drop(columns=cols_to_drop)
print(f"\nDropped columns (more than {missing_values_threshold * 100}% missing):")
print(list(cols_to_drop))

# Display the shape of the filtered DataFrame
print("\nShape of the filtered X_train DataFrame: ", X_train.shape)
print("Shape of the filtered X_test DataFrame: ", X_test.shape)

Dropped columns (more than 1.0% missing):
['ID_REGIONA', 'ID_UNIDADE', 'CS_ESCOL_N', 'ID_RG_RESI', 'ID_OCUPA_N', 'DT_CHIK_S1', 'DT_CHIK_S2', 'DT_PRNT', 'RES_CHIKS1', 'RES_CHIKS2', 'RESUL_PRNT', 'DT_SORO', 'RESUL_SORO', 'DT_NS1', 'RESUL_NS1', 'DT_VIRAL', 'RESUL_VI_N', 'DT_PCR', 'RESUL_PCR_', 'SOROTIPO', 'DT_INTERNA', 'UF', 'MUNICIPIO', 'TPAUTOCTO', 'COUFINF', 'COPAISINF', 'COMUNINF', 'DOENCA_TRA', 'CLINC_CHIK', 'DT_OBITO', 'DT_ENCERRA', 'ALRM_HIPOT', 'ALRM_PLAQ', 'ALRM_VOM', 'ALRM_SANG', 'ALRM_HEMAT', 'ALRM_ABDOM', 'ALRM_LETAR', 'ALRM_HEPAT', 'ALRM_LIQ', 'DT_ALRM', 'GRAV_PULSO', 'GRAV_CONV', 'GRAV_ENCH', 'GRAV_INSUF', 'GRAV_TAQUI', 'GRAV_EXTRE', 'GRAV_HIPOT', 'GRAV_HEMAT', 'GRAV_MELEN', 'GRAV_METRO', 'GRAV_SANG', 'GRAV_AST', 'GRAV_MIOC', 'GRAV_CONSC', 'GRAV_ORGAO', 'DT_GRAV', 'MANI_HEMOR', 'EPISTAXE', 'GENGIVO', 'METRO', 'PETEQUIAS', 'HEMATURA', 'SANGRAM', 'LACO_N', 'PLASMATICO', 'EVIDENCIA', 'PLAQ_MENOR', 'CON_FHD', 'COMPLICA']

Shape of the filtered X_train DataFrame:  (16392, 38)
Shape of the filtered X_test DataFrame:  (14619, 38)

In [361]:
print("Columns in X_train: ", X_train.columns)

Columns in X_train:  Index(['DT_NOTIFIC', 'SEM_NOT', 'NU_ANO', 'SG_UF_NOT', 'ID_MUNICIP',
       'DT_SIN_PRI', 'SEM_PRI', 'NU_IDADE_N', 'CS_SEXO', 'CS_GESTANT',
       'CS_RACA', 'SG_UF', 'ID_MN_RESI', 'DT_INVEST', 'FEBRE', 'MIALGIA',
       'CEFALEIA', 'EXANTEMA', 'VOMITO', 'NAUSEA', 'DOR_COSTAS', 'CONJUNTVIT',
       'ARTRITE', 'ARTRALGIA', 'PETEQUIA_N', 'LEUCOPENIA', 'LACO', 'DOR_RETRO',
       'DIABETES', 'HEMATOLOG', 'HEPATOPAT', 'RENAL', 'HIPERTENSA',
       'ACIDO_PEPT', 'AUTO_IMUNE', 'CLASSI_FIN', 'CRITERIO', 'EVOLUCAO'],
      dtype='object')

Delete over 20% missing: 45 features left

Delete over 10% missing: 38 features left

Delete over 5% missing: 38 features left

Delete over 2% missing: 38 features left

Delete over 1% missing: 37 features left

In [362]:
X_train.head()

,DT_NOTIFIC,SEM_NOT,NU_ANO,SG_UF_NOT,ID_MUNICIP,DT_SIN_PRI,SEM_PRI,NU_IDADE_N,CS_SEXO,CS_GESTANT,...,DIABETES,HEMATOLOG,HEPATOPAT,RENAL,HIPERTENSA,ACIDO_PEPT,AUTO_IMUNE,CLASSI_FIN,CRITERIO,EVOLUCAO
35,2018-07-06,201827,2018,12,120040,2018-07-05,201827,4010.0,M,6.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,13.0,1.0,1.0
51,2018-06-29,201826,2018,12,120040,2018-06-24,201826,4029.0,F,5.0,...,1.0,2.0,2.0,2.0,1.0,2.0,2.0,13.0,1.0,1.0
93,2018-09-19,201838,2018,12,120040,2018-09-17,201838,4011.0,F,5.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,13.0,2.0,1.0
115,2018-09-24,201839,2018,12,120040,2018-08-24,201834,4005.0,F,6.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,13.0,1.0,1.0
141,2018-08-16,201833,2018,12,120040,2018-08-13,201833,4011.0,F,5.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,13.0,1.0,1.0

In [363]:
# Count values in column "SG_UF_NOT" in X_train
print("Values in column 'SG_UF_NOT' in X_train:\n")
print(X_train["SG_UF_NOT"].value_counts())

Values in column 'SG_UF_NOT' in X_train:

SG_UF_NOT
23    2184
33    1953
35    1744
29    1106
31    1086
26     952
24     856
25     757
21     646
17     623
27     533
22     521
32     483
50     451
15     410
11     381
52     282
28     245
51     238
41     234
43     229
13     143
53     118
14      90
42      47
16      44
12      36
Name: count, dtype: int64

In [364]:
# Dictionary definition of the Brazilian states

# Código   UF		Sigla
# 11	Rondônia	RO
# 12	Acre	AC
# 13	Amazonas	AM
# 14	Roraima	RR
# 15	Pará	PA
# 16	Amapá	AP
# 17	Tocantins	TO
# 21	Maranhão	MA
# 22	Piauí	PI
# 23	Ceará	CE
# 24	Rio Grande do Norte	RN
# 25	Paraíba	PB
# 26	Pernambuco	PE
# 27	Alagoas	AL
# 28	Sergipe	SE
# 29	Bahia	BA
# 31	Minas Gerais	MG
# 32	Espírito Santo	ES
# 33	Rio de Janeiro	RJ
# 35	São Paulo	SP
# 41	Paraná	PR
# 42	Santa Catarina	SC
# 43	Rio Grande do Sul (*)	RS
# 50	Mato Grosso do Sul	MS
# 51	Mato Grosso	MT
# 52	Goiás	GO
# 53	Distrito Federal	DF

In [365]:
# Map "SG_UF_NOT" value to the region of Brazil as a new one-hot column use these values:
# "Norte": [11, 12, 13, 14, 15, 16, 17],
# "Nordeste": [21, 22, 23, 24, 25, 26, 27, 28, 29],
# "Centro-Oeste": [50, 51, 52, 53],
# "Sudeste": [31, 32, 33, 35],
# "Sul": [41, 42, 43]

X_train["REGION_NORTH"] = X_train["SG_UF_NOT"].isin([11, 12, 13, 14, 15, 16, 17]).astype(int)
X_train["REGION_NORTHEAST"] = X_train["SG_UF_NOT"].isin([21, 22, 23, 24, 25, 26, 27, 28, 29]).astype(int)
X_train["REGION_MIDWEST"] = X_train["SG_UF_NOT"].isin([50, 51, 52, 53]).astype(int)
X_train["REGION_SOUTHEAST"] = X_train["SG_UF_NOT"].isin([31, 32, 33, 35]).astype(int)
X_train["REGION_SOUTH"] = X_train["SG_UF_NOT"].isin([41, 42, 43]).astype(int)

# Remove the "SG_UF_NOT" and "ID_MUNICIP" column from X_train
X_train = X_train.drop(columns=["SG_UF_NOT", "ID_MUNICIP"])

In [366]:
# Count values in each region
print("\nValues in each region in X_train:\n")
print("Region North: ", X_train["REGION_NORTH"].sum())
print("Region Northeast: ", X_train["REGION_NORTHEAST"].sum())
print("Region Midwest: ", X_train["REGION_MIDWEST"].sum())
print("Region Southeast: ", X_train["REGION_SOUTHEAST"].sum())
print("Region South: ", X_train["REGION_SOUTH"].sum())

Values in each region in X_train:

Region North:  1727
Region Northeast:  7800
Region Midwest:  1089
Region Southeast:  5266
Region South:  510

In [367]:
# Remove "SG_UF" and "ID_MN_RESI" columns from X_train (not useful, redundant values with "SG_UF_NOT" and "ID_MUNICIP")
X_train = X_train.drop(columns=["SG_UF", "ID_MN_RESI"])

In [368]:
# Remove rows whose "DT_SIN_PRI" value is lower than 2017-07-01 (first symptoms reported before 2017-07-01 doesn't make sense to go to the hospital after 2018)
previous_year = start_year - 1
X_train = X_train[pd.to_datetime(X_train["DT_SIN_PRI"]) >= pd.to_datetime(f"20{previous_year}-07-01")]

# Save the difference in days between "DT_NOTIFIC" and "DT_SIN_PRI" in a new column called "TIME_DIFF"
X_train["TIME_DIFF"] = (pd.to_datetime(X_train["DT_NOTIFIC"]) - pd.to_datetime(X_train["DT_SIN_PRI"])).dt.days

# Print min and max values of "TIME_DIFF"
print("\nMin and max values of 'TIME_DIFF' in X_train:")
print("Min: ", X_train["TIME_DIFF"].min())
print("Max: ", X_train["TIME_DIFF"].max())

Min and max values of 'TIME_DIFF' in X_train:
Min:  0
Max:  1604

In [369]:
# Print number of rows whose "TIME_DIFF" is greater than 180 days
print("\nNumber of rows whose 'TIME_DIFF' is greater than 180 days: ", (X_train["TIME_DIFF"] > 180).sum())

# Print number of rows whose "TIME_DIFF" is greater than 180 days and "EVOLUCAO" is 1 (death)
print("\nNumber of rows whose 'TIME_DIFF' is greater than 180 days and 'EVOLUCAO' is 1 (death): ", X_train[(X_train["TIME_DIFF"] > 180) & (y_train == 1)].shape[0])

# Remove rows whose "TIME_DIFF" is greater than 180 days
X_train = X_train[X_train["TIME_DIFF"] <= 180]

Number of rows whose 'TIME_DIFF' is greater than 180 days:  72

Number of rows whose 'TIME_DIFF' is greater than 180 days and 'EVOLUCAO' is 1 (death):  0

In [370]:
# Use week and year info to create a new TIME column replacing DT_NOTIFIC, SEM_NOT and NU_ANO
print("Type of SEM_NOT column: ", X_train["SEM_NOT"].dtype)
print("Type of NU_ANO column: ", X_train["NU_ANO"].dtype)
print("Min value of SEM_NOT column: ", X_train["SEM_NOT"].min())
print("Max value of SEM_NOT column: ", X_train["SEM_NOT"].max())

# Calculate the week and year from the SEM_NOT and NU_ANO columns
week = X_train["SEM_NOT"] % 100
year = X_train["NU_ANO"] - 2000 - start_year
X_train["TIME"] = year * 52 + week

# Remove DT_NOTIFIC, SEM_NOT and NU_ANO columns
X_train = X_train.drop(columns=["DT_NOTIFIC", "SEM_NOT", "NU_ANO"])

Type of SEM_NOT column:  int64
Type of NU_ANO column:  int64
Min value of SEM_NOT column:  201801
Max value of SEM_NOT column:  202252

In [371]:
# Check all values in column "CLASSI_FIN"
# 5.0 discarded
# 13.0 confirmed case of Chikungunya
print("Values in 'CLASSI_FIN' column: ", X_train["CLASSI_FIN"].value_counts())

# Map "CLASSI_FIN" value to 1 for confirmed cases and 0 for discarded cases
X_train["CLASSI_FIN"] = X_train["CLASSI_FIN"].map({13.0: 1, 5.0: 0})

Values in 'CLASSI_FIN' column:  CLASSI_FIN
5.0     9083
13.0    7098
Name: count, dtype: int64

In [372]:
# Remove "DT_INVEST" column from X_train (not useful, redundant with "TIME" column)
X_train = X_train.drop(columns=["DT_INVEST"])

# Rename "NU_IDADE_N" column to "AGE" column
X_train = X_train.rename(columns={"NU_IDADE_N": "AGE"})

# Remove rows whose "AGE" is less than 1000 (undefined, user error) or greater than 4150 (unrealistic, over 150 years)
X_train = X_train[(X_train["AGE"] >= 1000) & (X_train["AGE"] <= 4150)]

# Modify "AGE" column to have the age in years
# If "AGE" is less than 4000, change to 0 years (hours, days or months old)
# Else, subtract 4000 from the value to get the age in years

X_train["AGE"] = X_train["AGE"].apply(lambda x: 0 if x < 4000 else x - 4000)

In [373]:
# Most common years are young people
X_train["AGE"].value_counts()

AGE
0.0      837
1.0      358
11.0     321
8.0      305
10.0     298
        ...
99.0       2
98.0       1
105.0      1
119.0      1
97.0       1
Name: count, Length: 102, dtype: int64

In [374]:
# # Not using SMOTE yet, need to clean the dataset columns first
# # Set SMOTE sampling strategy:
# # We want the minority class to be 10% of the total training data.
# # Let r be the ratio minority/majority after resampling, then minority fraction = r/(1+r).
# # For a 10% minority fraction, r = 0.10 / (1 - 0.10) ≈ 0.1111.
# smote = SMOTE(sampling_strategy=0.1111, random_state=42)

# # Apply SMOTE oversampling to the training data only
# X_train_smote, y_train_smote = smote.fit_resample(X_train, y_train)

# # Print the new distribution for y_train
# print("\nNew y_train distribution after SMOTE oversampling:")
# print(y_train_smote.value_counts())

In [375]:
# Remove the 'EVOLUCAO' column from X_train and save it in y_train
y_train = X_train.pop("EVOLUCAO")

# Remove the 'EVOLUCAO' column from X_test and save it in y_test
y_test = X_test.pop("EVOLUCAO")

# Change the target variable to 0 for cure and 1 for death
y_train = y_train.map({1: 0, 2: 1, 3:1, 4:1})
y_test = y_test.map({1: 0, 2: 1, 3:1, 4:1})

In [376]:
# Values of the y_train and y_test
print("\nValues for 'EVOLUCAO' in y_train:")
print(y_train.value_counts(dropna=True))

print("\nValues for 'EVOLUCAO' in y_test:")
print(y_test.value_counts(dropna=True))

Values for 'EVOLUCAO' in y_train:
EVOLUCAO
0    15086
1     1153
Name: count, dtype: int64

Values for 'EVOLUCAO' in y_test:
EVOLUCAO
0    13453
1     1166
Name: count, dtype: int64

In [377]:
"""
Save the filtered data to a new CSV file in the cleaned_path directory
"""

# Save the filtered data to a new CSV file in the cleaned_path directory
X_train.to_csv(f'{cleaned_path}X_train.csv', index=False)
y_train.to_csv(f'{cleaned_path}y_train.csv', index=False)

X_test.to_csv(f'{cleaned_path}X_test.csv', index=False)
y_test.to_csv(f'{cleaned_path}y_test.csv', index=False)